.messages {
    display: flex;
    background: white;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 0;
    height: 1000px;
    width: 770px;
}

.messages ul {
    list-style: none;
}