.personal {
    position: relative;
    max-width: 370px;
}
.name {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 26px;
 }
.personal label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #656565;
    margin-bottom: 15px;
}
.personal label span {
    margin-right: 7px;
}
.personal label input:not([type=checkbox]) {
    padding: 5px 10px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}
.jobWrapper {
    padding-right: 125px;
}
.status {
    color: gray;
    cursor: pointer;
    display: block;
    padding: 5px;
}
.status:hover {
    background: #edeef0;
}
.editWrapper {
    position: absolute;
    bottom: 120px;
    left: -360px;
}
.editButton {
    background: #5181b8;
    border: none;
    color: white;
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.cancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background: #ff3347;
    cursor: pointer;
}
.table {
    padding-top: 15px;
}
.table td {
    padding-bottom: 10px;
}
.table .title {
    font-size: 13px;
    color: #848282;
    padding-right: 40px;
}
.statusInput {
    border: 1px solid #edeef0;
    padding: 5px 10px;
    border-radius: 5px;
}
.contactTitle {
    width: 80px;
    margin: 0;
    box-sizing: border-box;
}
.contactsWrapper p {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}
.personalTitle {
    display: inline-block;
    width: 100px;
}
.socialWrapper {
    padding-top: 20px;
}
.disabledSaveButton {
    background: gray;
    opacity: 0.6;
    border: none;
    color: white;
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
