.wrapper {
    background: white;
    border-radius: 5px;
}

.paginatorWrapper {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}
.paginatorWrapper button {
    height: 50px;
}
.users {
   list-style: none;
    padding-left: 40px;
    width: 700px;
    position: relative;
}
.user {
    display: flex;
    margin-bottom: 40px;
}
.profilePhoto {
    margin-right: 30px;
}
.followButton {
    width: 200px;
    height: 40px;
    background: #4a76a8;
    color: white;
    margin-left: auto;
    border: none;
    align-self: center;
}
.followButton:disabled, followButton[disabled] {
    background: gray;
}
.userLocation, .userStatus {
    color: gray;
    font-size: 14px;
    margin: 5px
}
.pages {
    margin-top: 15px;
}
.pages span {
    margin-right: 10px;
    cursor: pointer;
}
.currentPage {
    font-weight: bold;
}