.wrapper {
    background: white;
    border-radius: 5px;
    width: 800px;
}
.users {
   list-style: none;
    padding-left: 40px;
    width: 700px;
    position: relative;
}
.user {
    display: flex;
    margin-bottom: 40px;
}
.profilePhoto {
    margin-right: 30px;
}
.followButton {
    width: 200px;
    height: 40px;
    background: #4a76a8;
    color: white;
    margin-left: auto;
    border: none;
    align-self: center;
}
.followButton:disabled, followButton[disabled] {
    background: gray;
}
.followButton:hover {
    opacity: 0.7;
    cursor: pointer;
}
.userLocation, .userStatus {
    color: gray;
    font-size: 14px;
    margin: 5px
}

