.fieldWrapper {
    position: relative;
    width: 200px;
}
.fieldWrapper input {
    border: none;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px 10px;
}
.fieldWrapper .error {
    border: 2px solid red;
}
.errorMessage {
    position: absolute;
    left: -200px;
    display: block;
    right: 150px;
    width: 200px;
    border-radius: 5px;
    height: 50px;
    color: white;
    background: red;
    top: 10px;
}
