.nav {
    grid-area: m;
    margin-bottom: 60px;
}

.nav__list {
    list-style: none;
}

.item {
    margin-bottom: 15px;
}

.item a {
    font-size: 20 px;
    color: #285473;
    text-decoration: none;
}

.active {
    font-size: 30px;
}