.nav {
    grid-area: m;
    margin-bottom: 60px;
}

.nav__list {
    list-style: none;
}

.item a {
    display: block;
    width: 160px;
    height: 25px;
    padding: 5px 10px;
    font-size: 16px;
    color: #285473;
    text-decoration: none;
}

.item a:hover {
    background: #d3d9de;
}
