.wrapper {
    height: 50px;
    margin-bottom: 80px;
}

.wrapper textarea {
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    width: 600px;
    background: #edeef0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.wrapper button {
    height: 100%;
    width: 200px;
    border: none;
    font-size: 20px;
    background: #4a76a8;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}