.wrapper {
    height: 50px;
    margin-bottom: 80px;
}

.wrapper textarea {
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    width: 600px;
    background: #edeef0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: none;
}

.wrapper button {
    height: 100%;
    width: 200px;
    border: none;
    font-size: 20px;
    background: #4a76a8;
    color: white;
    border-radius: 5px;
}