.form {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.form input {
    margin-bottom: 15px;
    padding: 5px 10px;
}
.formError {
    background: red;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;

}