.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
  "h h"
  "m c";
}

.header {
  background: red;
  grid-area: h;
}

.main-nav {
  background: blue;
  grid-area: m;
}

.content {
  background: green;
  grid-area: c;
}

.content__wallpaper {
  width: 100%;
}